---
import Layout from '../layouts/Layout.astro';
import PublicationsList from '../components/PublicationsList.astro';
---

<Layout title="Miles Cochran-Branson - Physics PhD Candidate">
    
<main class="container">
    <PublicationsList selectedOnly={false} />
</main>