---
import SocialIcon from '../components/SocialIcon.astro';

const currentYear = new Date().getFullYear();

const socialLinks = [
    { href: 'mailto:milescb@uw.edu', title: 'Email', ariaLabel: 'Email Address', icon: 'fas fa-envelope' },
    { href: 'https://www.linkedin.com/in/mgcb', title: 'LinkedIn', ariaLabel: 'LinkedIn Profile', icon: 'fab fa-linkedin' },
    { href: 'https://github.com/milescb', title: 'GitHub', ariaLabel: 'GitHub Profile', icon: 'fab fa-github' },
    { href: 'https://gitlab.cern.ch/mcochran', title: 'GitLab', ariaLabel: 'GitLab Profile', icon: 'fab fa-gitlab' },
    { href: 'https://orcid.org/0000-0003-1020-1108', title: 'ORCID', ariaLabel: 'ORCID Profile', icon: 'ai ai-orcid' },
];
---

<footer class="page-footer">
    <section class="social-section">
            <h2 class="visually-hidden" id="connect">Connect</h2>
            <div class="social-icons">
                {socialLinks.map(link => (
                    <SocialIcon {...link} />
                ))}
            </div>
        </section>
    <p>&copy; {currentYear} Miles Cochran-Branson</p>
</footer>
